<p>civil3d works!</p>
<div class="row">
    <div class="col-md-6 col-xl-4" >
        <div class="card border-0 text-white"><img src="assets/images/slider/surface.png" alt="Card image"
                class="card-img">
            <div class="card-img-overlay bg-overlay">
                <h4 class="card-title text-white">Surface</h4>
                <p class="card-text"> Civil 3d surface process automation </p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card border-0 text-white"><img src="assets/images/slider/CogoPoints.jpg" alt="Card image"
                class="card-img">
            <div class="card-img-overlay bg-overlay">
                <h4 class="card-title text-white">Cogo Points</h4>
                <p class="card-text"> Civil 3d Cogo Points process automation </p>
            </div>
        </div>
    </div>
</div>